body{
    background-image: url('Backgound.png');
    background-size: cover;   
    background-attachment: fixed;
    background-position: center; 
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    height: auto;
    background-color: rgba(204, 245, 249, 0.478);
    display: flex;
    margin: 0;
    z-index: 1;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header .logo img {
    height: 70px;
}

.box{
    background-color: rgba(204, 245, 249, 0.488);
    width: 300px;
    height: 390px;
    margin: 0 auto;
    padding: 30px;
    position:absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 10px;
    border: 1px solid #328bcb;
}

.box .item{
    display: flex;
    justify-content: center; 
    margin: 10px;
}

.box img{
    width: 150px;
    margin-top: -15px;
}

.item .account{
    flex: 1;
    height: 30px;
    border-radius: 5px; 
    margin: auto;
}

.item .remember input{
    height: 10px;
}

.item .remember label{
    font-size: 13px;
}

.item .remember{
    margin-right: 65%;
}

.item .forgetpw{
    font-size: small;
    text-decoration: none;
}

.item button{
    border-radius: 6px;  
}

.item .login button{
    height: 30px;
    width: 278px;
    background-color:rgb(87, 181, 253);
}

.item .sign-in button{
    height: 30px;
    width: 139px;
    background-color: rgb(14, 164, 52);
}

.login button:hover{
    background-color:rgb(147, 190, 249);
}
.sign-in button:hover{
    background-color:rgb(25, 190, 91);
}

.item .forgetpw:hover{
    color:rgb(255, 0, 0);
}

.item hr{
    color: #ddd;
    width: 100%;
    margin-top: -5px;
}


