body {
    background-image: url('Backgound.png');
    background-size: cover;   
    margin: 0;
    padding: 0;
    background-attachment: fixed; 
    background-position: center; 
    font-family: Arial, sans-serif;
}
header{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100px;
  background-color: rgba(204, 245, 249, 0.478);
  z-index: 1; /* Đảm bảo lớp phủ nằm trên cùng */
  display: flex;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #ddd;
}
.tieude {
    font-size: 40px;
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
  #tendangnhap,
  #email,
  #matkhau,
  #nhaplaimatkhau, #sdt {
    height: 30px;
    width: 300px;
    border-radius: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
  h6 {
    font-weight: normal;
    font-size: 11px;
    width: 305px;
    margin: auto;
    display: flex;
    justify-content: left;
  }
  hr{
    width: 300px;
  }

header .logo img {
    height: 100px;
}
  .trong {
    background-color: rgba(204, 245, 249, 0.486);
    width: 300px;
    height: 350px;
    margin: 0 auto;
    padding: 30px;
    position:absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 10px;
    border: 1px solid #328bcb;
    border-bottom: 1px solid #ddd;
  }

  .nutdangky {
    text-decoration: none;
  }
  h4 {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .dangky {
    height: 30px;
    width: 305px;
    border-radius: 5px;
    margin: auto;
    margin-top: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(23, 152, 251);
  }
  .dangky:hover {
    background-color: rgb(105, 164, 246);
  }